<section class="page-header">
  <h1 class="project-name"><a href="/" style="color: white;">myBlockchain</a></h1>
  <h2 class="project-tagline">The world&#39;s most popular open source blockchain, <br>and MyBlockchain Cluster, a real-time, open source transactional blockchain.</h2>


  <a href="/" class="btn {% if page.url == "/" %}{{ 'active' }}{% endif %} ">Home</a>
  <a href="/whitepaper/" class="btn {% if page.url == "/whitepaper/" %}{{ 'active' }}{% endif %} ">Whitepaper</a>

  <a href="/faq/" class="btn {% if page.url == "/faq/" %}{{ 'active' }}{% endif %} ">FAQ</a>

  <a href="/contact/" class="btn {% if page.url == "/contact/" %}{{ 'active' }}{% endif %} ">BizzDev</a>
  <a href="https://github.com/myblockchain/myblockchain" class="btn">View on GitHub</a>
</section>
